@model IEnumerable<Project.Models.Entities.Product>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="@Url.Content($"~/images/{product.ImageUrl}")" class="card-img-top" alt="@product.Name" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <a href="/Product/Details/@product.Id" class="btn btn-info">Details</a>
                </div>
            </div>
        </div>
    }
</div>
